<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access denied</title>
    <link rel="shortcut icon" href="../resources/images/Infozen_favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
	<div class="row"  style="padding-bottom: 30px; padding-top: 30px">
    	<div class="col-lg-12">
    		<div class="lead col-lg-12 alert alert-dismissable" th:classappend="alert-danger">
    			 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    		 	<span class="sr-only">Error:</span>
    		 	Access Denied !!!
    		</div>
    		
    		<span th:text="${message}" style="display: none;">Error Message</span>
  			<p>
  				We apologize, You do not have permission to access this page. 
			</p>    				
    	</div>		
  	</div>
    <div class="row">	
    	<div th:include="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
    </div>	
</div>
</body>
</html>