<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<link rel="shortcut icon"
	href="../../../resources/images/Infozen_favicon.png"
	type="image/x-icon" th:href="@{/resources/images/Infozen_favicon.png}" />
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/main.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/main.css}" />
<link href="../../../resources/css/jquery-ui.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/jquery-ui.min.css}" />
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="pl-container">
		<div th:replace="fragments/sideMenu :: sideMenu">&nbsp;</div>
		<div class="pl-content" style="padding-top: 30px">
			<div>
				<div class="pl-pattern directions"
					style="background-color: #efefef; padding-top: 15px; margin-bottom: -60px;">
					<h6>
						In order to identify a significant trend in the <b>Adverse
							Drug Events</b> reported from all across the world, we have created
						multiple search criterias for a given drug name, within a date
						range and maximum search limit. Below are the summary types
						currently supported:
					</h6>
					<ol class="dl-horizontal">
						<li><b>By Country :</b> &nbsp; Names of different countries.</li>
						<li><b>By Gender :</b> &nbsp; Male, Female &amp; Unknown</li>
						<li><b>By Sender or Receiver Type : </b>&nbsp; Pharmaceutical
							Company, Regulatory Authority, Health Professional, Other, etc..</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="pl-content">
			<!-- /* Handle the flash message */-->
			<th:block th:if="${message != null}">
				<!-- /* The message code is returned from the @Controller */ -->
				<div
					th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
			</th:block>
			<div class="pl-pattern fields">
				<form id="updateGraphics" action="updateGraphics">
					<fieldset>
						<div class="row">
							<div>
								<div class="col-sm-3">
									<div class="row ui-widget">
										<div class="col-sm-10">
											<label for="type"
												th:text="#{homesignedin.openfda.summarytype}">Summary
												Type:</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-10">
											<select style="text-align: left"
												class="btn btn-default dropdown-toggle btn-select2 form-control form-required"
												data-toggle="dropdown" id="type" name="type" type="text"
												title="Select the type of search from the list!">
												<option value="REPORTER_COUNTRY">By Reporting
													Country</option>
												<option value="PATIENT_GENDER">By Gender</option>
												<option value="SENDER_TYPE">By Sender Type</option>
												<option value="RECEIVER_TYPE">By Receiver Type</option>
												<option value=""></option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="row ui-widget">
										<div class="col-sm-10">
											<label for="type" th:text="#{homesignedin.openfda.range}">Range:</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-10">
											<select style="text-align: left"
												class="btn btn-default dropdown-toggle btn-select2 form-control form-required"
												data-toggle="dropdown" id="startDate" name="startDate"
												type="text"
												title="Select the period to run query from the list!">
												<option id="6ago">6 Months</option>
												<option id="12ago">12 Months</option>
												<option id="18ago">18 Months</option>
												<option id="24ago" selected="selected">24 Months</option>
												<option></option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="row ui-widget">
										<div class="col-sm-10">
											<label for="type"
												th:text="#{homesignedin.openfda.maxresults}">Max
												Results:</label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-10">
											<select style="text-align: left"
												class="btn btn-default dropdown-toggle btn-select2 form-control form-required"
												data-toggle="dropdown" id="maxFetch" name="maxfetch"
												type="text"
												title="Select number of results to fetch from the list!">
												<option value="100">100</option>
												<option value="200">200</option>
												<option value="300">300</option>
												<option value="400">400</option>
												<option value="500">500</option>
												<option value="1000">1000</option>
												<option></option>
											</select>
										</div>
									</div>
								</div>

								<div class="col-sm-5">
									<div class="row ui-widget">
										<div class="col-sm-6">
											<label for="drugName"
												th:text="#{homesignedin.openfda.drugname}">Enter
												Drug Name: </label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4">
											<input class="drugInput" id="drugName" name="drugName"
												required="true" type="text"
												title="Start typing any Drug name and pick from the list!" />
										</div>
										<div class="col-sm-8">
											<button type="submit" id="postAnnouncement"
												class="btn btn-primary pull-right"
												title="Hover over graph to see it Change!">View
												Results</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input class="hidden" id="endDate" name="endDate" />
					</fieldset>
				</form>
			</div>
			<div id='dashboard'></div>
			<div class="row hidden" id='dashboard-helptext'>
				<div class="col-sm-12">
					<div class="pl-pattern directions"
						style="background-color: #efefef; margin-top: 10px">
						<h6>Data visualization</h6>
						<ol class="dl-horizontal">
							<li>The <strong>Bar Chart</strong> shows the number of
								Adverse Events for a given period of time. Hover the mouse
								pointer over the bars to see a respective change in the pie
								chart, displaying the percentage of possible values for the
								selected criteria for that given date.
							</li>
							<li>The <strong>Pie Chart</strong> shows the percentage for
								summary type grouping. Hover the mouse pointer over the Pie to
								see a respective change in the bar chart, displaying the
								occurrence for the given time.
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer">&copy; 2015 The
		Static Templates</div>
	<script src="../../../resources/js/jquery-1.11.1.min.js"
		th:src="@{/resources/js/jquery-1.11.1.min.js}"></script>
	<script src="../../../resources/js/jquery-ui.min.js"
		th:src="@{/resources/js/jquery-ui.min.js}"></script>
	<script src="../../../resources/js/bootstrap.min.js"
		th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="../../../resources/js/d3.v3.min.js"
		th:src="@{/resources/js/d3.v3.min.js}"></script>
	<script src="../../../resources/js/jquery.blockui.min.js"
		th:src="@{/resources/js/jquery.blockui.min.js}"></script>
	<script type="text/javascript"
		src="../../../resources/js/uspto-main.min.js"
		th:src="@{/resources/js/uspto-main.min.js}"></script>
	<script src="../../../resources/js/fdagraphics.js"
		th:src="@{/resources/js/fdagraphics.js}"></script>
</body>
</html>
