<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
   <link rel="shortcut icon" href="../../../resources/images/Infozen_favicon.png" type="image/x-icon" th:href="@{/resources/images/Infozen_favicon.png}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/main.css" rel="stylesheet" media="screen" th:href="@{/resources/css/main.css}" />
    <link href="../../../resources/css/jquery-ui.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/jquery-ui.min.css}" />
    <script src="../../../resources/js/jquery-1.11.1.min.js" th:src="@{/resources/js/jquery-1.11.1.min.js}"></script>
    <script src="../../../resources/js/jquery-ui.min.js" th:src="@{/resources/js/jquery-ui.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/d3.v3.min.js" th:src="@{/resources/js/d3.v3.min.js}"></script>
    <script src="../../../resources/js/jquery.blockui.min.js" th:src="@{/resources/js/jquery.blockui.min.js}"></script>
</head>
<style>
svg{
	vertical-align: top;
}
.pl-content{
        padding-left: 20px;
}
table{
	vertical-align: top !important;
	padding-top: 60px !important; 
}
path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:25px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend, td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}
.drugInput{
	height: 31px !important;
}
.fields {
  padding: 30px 30px 35px 30px !important;
  margin-bottom: -15px !important;
}
.directions {
  padding: 0px 30px 10px 30px !important;
}
.pie{
	padding-top: 40px !important;
}
.highlight {
    font-weight: 900;
    font-size: 105%;
  }
#dashboard{
	padding-top: -50px !important;
	margin-bottom: 0px !important;
}
</style>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="pl-container">
        <div th:replace="fragments/sideMenu :: sideMenu">&nbsp;</div>
    <div  class="pl-content" style="padding-top: 30px">
    	<div>
   			<div class="pl-pattern directions" style="background-color: #efefef; padding-top: 15px;  margin-bottom: -60px;">
       				<h6>In order to identify a significant trend in the <b>Adverse Drug Events</b> reported from all across the world, we have created multiple search criterias for a given drug name,
       				within a date range and maximum search limit. Below are the summary types currently supported:</h6>
       				<ol class="dl-horizontal">
						<li><b>By Country :</b> &nbsp; Names of different countries.</li> 
						<li><b>By Gender :</b> &nbsp; Male, Female &amp; Unknown</li>
						<li><b>By Sender or Receiver Type : </b>&nbsp; Pharmaceutical Company, Regulatory Authority, Health Professional, Other, etc..</li>
					</ol>
			</div>
		</div>	
   	</div>            
    <div class="pl-content">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
<div class="pl-pattern fields">
    <form id="updateGraphics" action="updateGraphics">
    	<fieldset>
        	<div class="row" >
            	<div>
            		<div class="col-sm-3">
            			<div class="row ui-widget">
            				<div class="col-sm-10">
	                			<label for="type" th:text="#{homesignedin.openfda.summarytype}">Summary Type:</label>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-sm-10">
		                    	<select style="text-align: left"
	                                    class="btn btn-default dropdown-toggle btn-select2 form-control form-required"
	                                    data-toggle="dropdown" id="type" name="type" type="text" title="Select the type of search from the list!">
	                                    <option value="REPORTER_COUNTRY">By Reporting Country</option>
	                                    <option value="PATIENT_GENDER">By Gender</option>
	                                    <option value="SENDER_TYPE">By Sender Type </option>
	                                    <option value="RECEIVER_TYPE">By Receiver Type</option>
	                                    <option value=""></option>        
	                            </select>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-sm-2">
            			<div class="row ui-widget">
	                		<div class="col-sm-10">
	                			<label for="type" th:text="#{homesignedin.openfda.range}">Range:</label>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-sm-10">
		                    	<select style="text-align: left"
	                                    class="btn btn-default dropdown-toggle btn-select2 form-control form-required"
	                                    data-toggle="dropdown" id="startDate" name="startDate" type="text" title="Select the period to run query from the list!">
	                                    <option id="6ago">6 Months</option>
	                                    <option id="12ago">12 Months</option>
	                                    <option id="18ago">18 Months</option>
	                                    <option id="24ago" selected="selected">24 Months</option>
	                                    <option></option>        
	                            </select>
	                        </div>
	                    </div>
	                </div>
	                 <div class="col-sm-2">
            			<div class="row ui-widget">
	                		<div class="col-sm-10">
	                			<label for="type" th:text="#{homesignedin.openfda.maxresults}">Max Results:</label>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-sm-10">
		                    	<select style="text-align: left"
	                                    class="btn btn-default dropdown-toggle btn-select2 form-control form-required"
	                                    data-toggle="dropdown" id="maxFetch" name="maxfetch" type="text" title="Select number of results to fetch from the list!">
	                                    <option value="100">100</option>
	                                    <option value="200">200</option>
	                                    <option value="300">300</option>
	                                    <option value="400">400</option>
	                                    <option value="500">500</option>
	                                    <option value="1000">1000</option>
	                                    <option></option>        
	                            </select>
	                        </div>
	                    </div>
	                </div>
	                
	                <div class="col-sm-5">
            			<div class="row ui-widget">
            				<div class="col-sm-6">
	                			<label for="drugName" th:text="#{homesignedin.openfda.drugname}">Enter Drug Name: </label>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-sm-4">
	                			<input class="drugInput" id="drugName" name="drugName" required="true" type="text" title="Start typing any Drug name and pick from the list!"/>
	                		</div>
	                		<div class="col-sm-8">
	                            <button type="submit" id="postAnnouncement"
	                        		class="btn btn-primary pull-right" title="Hover over graph to see it Change!">View Results</button>
	                        </div> 
	                    </div>
	                </div>
                </div>
           	</div>
           	<input class="hidden" id="endDate" name="endDate"/>
        </fieldset>
	</form>
</div>
    <div id='dashboard'>
    </div>
    <div class="row hidden" id='dashboard-helptext'>
       	<div class="col-sm-12">
            <div class="pl-pattern directions" style="background-color: #efefef; margin-top: 10px">
               	<h6>Data visualization</h6>
                   <ol class="dl-horizontal">
                    <li>The <strong>Bar Chart</strong> shows the number of Adverse Events for a given period of time. 
                    Hover the mouse pointer over the bars to see a respective change in the pie chart, displaying the percentage of possible values for the selected criteria for that given date.
                    </li> 
                    <li>The <strong>Pie Chart</strong> shows the percentage for summary type grouping.
                    Hover the mouse pointer over the Pie to see a respective change in the bar chart, displaying the occurrence for the given time.
                    </li>
                   </ol>
           	</div>
     	</div>
   	</div>
</div>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2015 The Static Templates</div>
<script type="text/javascript" src="../../../resources/js/uspto-main.min.js" th:src="@{/resources/js/uspto-main.min.js}"></script> 
<script th:inline="javascript">
        /*<![CDATA[*/
                   
$(document).tooltip({ selector: "[title]",
                              placement: "top",
                              trigger: "focus",
                              animation: true,
                              show: {
                            	     ready: false
                            	 },
                            	 hide: {
                            	     event: false
                            	 }}); 

var freqData = {};

$(document).ready(function() {
	var d = new Date();
	$("#endDate").val(d);
	for (var i = 1; i < 5; i++) {
	    var m = 6*i;
	    var curmonth = d.getMonth();
		var qqq = curmonth - 6;
		d.setMonth(qqq);
		$("#" + m + "ago").val(d);
	}
              $('#updateGraphics').submit(function(e) {
                   e.preventDefault();
                   $.blockUI({ css: { 
                       border: 'none', 
                       padding: '10px', 
                       backgroundColor: '#000', 
                       '-webkit-border-radius': '10px', 
                       '-moz-border-radius': '10px', 
                       opacity: .5, 
                       color: '#fff' 
                   }});
                   data = $("#updateGraphics :input").filter(function(index, element) {
                	   return $(element).val() != "";
               		}).serialize();
                   // Get the data
                   getMedEvents(data);
              });
        });

function getMedEvents(data) {
        $.ajax({
                type : 'GET',
                url : "drug/summary",
                data : data,
                cache : false,
                success : function(msg) {
                	$.unblockUI();
                        var obj = msg;
                        if (obj.success) {
                                freqData = jQuery.makeArray(obj.drugFrequencies);
                                dashboard('#dashboard',freqData);
                        } else {
							alert(obj.message);
                        }
                },
                error : function(e) {
                	$.unblockUI();
                    if (window.console) {
                        console.log(e);
                    }
                    try {
                    	var resp = JSON.parse(e.responseText);
                    	alert(resp.message);
                    } catch(e) {}
                    
                }
        });
}

        $( "#drugName" ).autocomplete({
                  delay: 500,
                  autoFocus: true,
                  source : function(req, res) {
                        $.ajax({
                            url: "drug/names",
                            dataType: "json",
                            data: {
                                drugName: req.term,
                            },
                            success: function (data) {
                               res(data);
                            }
                        })
                  }
                });


        var theColors =  ["#00a2a2", "#ff0000", "#ddff00", "#00a200", "#ffa200", "#510051", "#bb8e68", "#005dff", "#ff00dd", "#b2e3e3", 
                          "#810000", "#66c766", "#ffd07f", "#be4dff", "#664428", "#FFFF66", "#192947", "#ffa5f3", "#c5b2c5", "#400040", 
                          "#ff6666", "#ceb428", "#a8a8a8", "#545454", "#667084", "#B5FF43", "#364C14", "#8992f0", "#D7D7D7"];

function GetHeaders(obj) {
    var cols = new Array();
    for (var key2 in obj){
         var p = obj[key2];
            for (var key3 in p){
                 if (key3 == "frequency"){
                                var z = p[key3]
                                        for (var key4 in z){
                                                if (cols.indexOf(key4) == -1){
                                                        cols.push(key4);
                                                }
                                        }
                        }
            }
    }
    return cols;
}

function dashboard(id, fData){
	$("#dashboard-helptext").insertAfter("#dashboard");
	    $(id).empty();
        //theReactions is an array of symptoms specific to data set
        var theReactions = GetHeaders(freqData);
        var arrayLength = theReactions.length;
        //symptomColors is an object containing key/value pairs of symptom:randomly generated color
        var symptomColors = {};
        //generate key/value pairts for symptomColors
        for (var i = 0; i < arrayLength; i++) {
        	symptomColors[theReactions[i]] = theColors[i];
        }

        var barColor = 'steelblue';

        // ----------------------place to use dynamic variables
    function segColor(c){
                return symptomColors[c]; }

    // function to handle histogram.
    function histoGram(fD){
        var hG={},    hGDim = {t: 60, r: 0, b: 30, l: 0};
        hGDim.w = 500 - hGDim.l - hGDim.r,
        hGDim.h = 300 - hGDim.t - hGDim.b;

        //create svg for histogram.
        var hGsvg = d3.select(id).append("svg").attr("class", "bars")
            .attr("width", hGDim.w + hGDim.l + hGDim.r + 20)
            .attr("height", hGDim.h + hGDim.t + hGDim.b + 50).append("g")
            .attr("transform", "translate(" + hGDim.l + "," + hGDim.t + ")");

        // create function for x-axis mapping.
        var x = d3.scale.ordinal().rangeRoundBands([0, hGDim.w], 0.1)
                .domain(fD.map(function(d) { return d[0]; }));

        // Add x-axis to the histogram svg.
        hGsvg.append("g").attr("class", "x axis")
            .attr("transform", "translate(0," + hGDim.h + ")")
            .call(d3.svg.axis().scale(x).orient("bottom"))
            .selectAll("text")
                            .attr("y", 2)
                            .attr("x", 9)
                            .attr("dy", ".35em")
                            .style("text-anchor", "start")
                            .style("font-size", "13px")
                            .attr("transform", "rotate(55)");

        // Create function for y-axis map.
        var y = d3.scale.linear().range([hGDim.h, 0])
                .domain([0, d3.max(fD, function(d) { return d[1]; })]);

        // Create bars for histogram to contain rectangles and freq labels.
        var bars = hGsvg.selectAll(".bar").data(fD).enter()
                .append("g").attr("class", "bar");

        //create the rectangles.
        bars.append("rect")
            .attr("x", function(d) { return x(d[0]); })
            .attr("y", function(d) { return y(d[1]); })
            .attr("width", x.rangeBand())
            .attr("height", function(d) { return hGDim.h - y(d[1]); })
            .attr('fill',barColor)
            .on("mouseover",mouseover)// mouseover is defined below.
            .on("mouseout",mouseout);// mouseout is defined below.

        //Create the frequency labels above the rectangles.
        bars.append("text").text(function(d){ return d3.format(",")(d[1])})
            .attr("x", function(d) { return x(d[0])+x.rangeBand()/2; })
            .attr("y", function(d) { return y(d[1])-5; })
            .attr("text-anchor", "middle");

        function mouseover(d){  // utility function to be called on mouseover.
            // filter for selected state.
        	var st = fData.filter(function(s){ 
            	return s.date == d[0];})[0],
                nD = d3.keys(st.frequency).map(function(s){ 
                	var fff = st.frequency[s];
                	if (!(fff == 0)){
                		$("#"+s).addClass("highlight");
                		if (s == "COUNTRY NOT SPECIFIED"){
                			$("#CCNNSS").addClass("highlight");
                		}
                	}
                	return {type:s, freq:st.frequency[s]};});

            // call update functions of pie-chart and legend.
            pC.update(nD);
            leg.update(nD);
        }

        function mouseout(d){    // utility function to be called on mouseout.
            // reset the pie-chart and legend.
            pC.update(tF);
            leg.update(tF);
            $(".categoryRow").removeClass("highlight");
        }

        // create function to update the bars. This will be used by pie-chart.
        hG.update = function(nD, color){
        	//alert(JSON.stringify(nD));
            // update the domain of the y-axis map to reflect change in frequencies.
            y.domain([0, d3.max(nD, function(d) { return d[1]; })]);

            // Attach the new data to the bars.
            var bars = hGsvg.selectAll(".bar").data(nD);

            // transition the height and color of rectangles.
            bars.select("rect").transition().duration(500)
                .attr("y", function(d) {return y(d[1]); })
                .attr("height", function(d) { return hGDim.h - y(d[1]); })
                .attr("fill", color);

            // transition the frequency labels location and change value.
            bars.select("text").transition().duration(500)
                .text(function(d){ return d3.format(",")(d[1])})
                .attr("y", function(d) {return y(d[1])-5; });
        }
        return hG;
    }
//     -----------------------------------------------------------------------------
    // function to handle pieChart.
    function pieChart(pD){
        var pC ={},    pieDim ={w:250, h: 250};
        pieDim.r = Math.min(pieDim.w, pieDim.h) / 2;

        // create svg for pie chart.
        var piesvg = d3.select(id).append("svg").attr("class", "pie")
            .attr("width", pieDim.w).attr("height", pieDim.h + 30).append("g")
            .attr("transform", "translate("+pieDim.w/2+","+pieDim.h/2+")");

        // create function to draw the arcs of the pie slices.
        var arc = d3.svg.arc().outerRadius(pieDim.r - 10).innerRadius(0);

        // create a function to compute the pie slice angles.
        var pie = d3.layout.pie().sort(null).value(function(d) {
                return d.freq; });

        // Draw the pie slices.
        piesvg.selectAll("path").data(pie(pD)).enter().append("path").attr("d", arc)
            .each(function(d) { this._current = d; })
            .style("fill", function(d) { return segColor(d.data.type); })
            .on("mouseover",mouseover).on("mouseout",mouseout);

        // create function to update pie-chart. This will be used by histogram.
        pC.update = function(nD){
            piesvg.selectAll("path").data(pie(nD)).transition().duration(500)
                .attrTween("d", arcTween);
        }
        // Utility function to be called on mouseover a pie slice.
        function mouseover(d){
        	$(".categoryRow").each(function(){
        		var ddt = d.data.type;
        		if (ddt == "COUNTRY NOT SPECIFIED"){
        			ddt = "CCNNSS";
        		}
        		if($(this).attr("id") == ddt){
        			$(this).addClass("highlight");
        		}
        	})
            // call the update function of histogram with new data.
            hG.update(fData.map(function(v){
            	var temp = v.frequency[d.data.type];
            	if (typeof temp === 'undefined') {
            		temp = 0;
            	}
            	return [v.date, temp];}),segColor(d.data.type));
        }
        //Utility function to be called on mouseout a pie slice.
        function mouseout(d){
        	$(".categoryRow").each(function(){
        			$(this).removeClass("highlight");
        	})
            // call the update function of histogram with all data.
            hG.update(fData.map(function(v){
                return [v.date,v.total];}), barColor);
        }
        // Animating the pie-slice requiring a custom function which specifies
        // how the intermediate paths should be drawn.
        function arcTween(a) {
            var i = d3.interpolate(this._current, a);
            this._current = i(0);
            return function(t) { return arc(i(t));    };
        }
        return pC;
    }
//     ------------------------------------------------------------------------------------
    // function to handle legend.
    function legend(lD){
        var leg = {};

        // create table for legend.
        var legend = d3.select(id).append("table").attr('class','legend');

        // create one row per segment.
        var tr = legend.append("tbody").selectAll("tr").data(lD).enter().append("tr")
        		.attr("id", function(d){ return d.type;})
	        	.attr("class", "categoryRow");

        // create the first column for each segment.
        tr.append("td").append("svg").attr("width", '16').attr("height", '16').append("rect")
        .attr("width", '16').attr("height", '16')
        .attr("fill",function(d){ return segColor(d.type); });

// create the second column for each segment.
tr.append("td").text(function(d){ return d.type;});

// create the third column for each segment.
tr.append("td").attr("class",'legendFreq')
.text(function(d){ return d3.format(",")(d.freq);});

// create the fourth column for each segment.
tr.append("td").attr("class",'legendPerc')
.text(function(d){ return getLegend(d,lD);});

// Utility function to be used to update the legend.
leg.update = function(nD){
// update the data attached to the row elements.
var l = legend.select("tbody").selectAll("tr").data(nD);

// update the frequencies.
l.select(".legendFreq").text(function(d){ return d3.format(",")(d.freq);});

// update the percentage column.
l.select(".legendPerc").text(function(d){ return getLegend(d,nD);});
}

function getLegend(d,aD){ // Utility function to compute percentage.
return d3.format("%")(d.freq/d3.sum(aD.map(function(v){ return v.freq; })));
}

function mouseover9 (){
	if ($(this).hasClass("highlight")){
		$( this ).toggleClass( "highlight" );
		$("#category").val(null);
		
	}
	else{ 
		var selectedId = $(this).attr("id");
		$(".categoryRow").each(function(){
			if ($(this).hasClass("highlight")){
				$( this ).toggleClass( "highlight" );
			}
		});
		$( this ).toggleClass( "highlight" );
		$("#category").val(selectedId);
		}
	
}

return leg;
}

// calculate total frequency by segment for all state.
// ----------------------place to use dynamic variables
var tF = theReactions.map(function(d){
return {type:d, freq: d3.sum(fData.map(function(t){ return t.frequency[d];}))};
});

// calculate total frequency by state for all segment.
var sF = fData.map(function(d){return [d.date,d.total];});

var hG = histoGram(sF), // create the histogram.
pC = pieChart(tF), // create the pie-chart.
leg= legend(tF);  // create the legend.
var www = $(".categoryRow").length;
$("#dashboard-helptext").removeClass("hidden");
$("[id='COUNTRY NOT SPECIFIED']").attr("id", "CCNNSS");
$( ".bars, .pie" ).wrapAll( "<div id='divOne' class='col-sm-9 text-center'><div class='row' id='rowOne'></div></div>" );
$( ".legend" ).wrapAll( "<div id='divTwo' class='col-sm-3'></div>" );
$( ".bars" ).wrap( "<div id='divThree' class='col-sm-7 col-sm-offset-1 text-center'></div>" );
$( ".pie" ).wrap( "<div id='divFour' class='col-sm-4 text-center'></div>" );
if(www > 12){
	$("#dashboard-helptext").insertAfter("#rowOne");
}

}



/*]]>*/
</script>
</body>
</html>                    
