<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../../../resources/css/usptostrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/usptostrap.min.css}" />
</head>
<style>
</style>
<body>
	<div th:fragment="sideMenu">
		<nav class="pl-sidebar">
			<ul class="nav nav-stacked">
				<li class="category" th:text="#{menu.openfda.titlefdaopendata}">FDA Open Data</li>
				<li><a href="#" th:href="@{/}" style = "padding-left: 40px" th:text="#{menu.openfda.tryourapp}"> Try Our App! </a></li>
			</ul>
			<ul class="nav nav-stacked">
				<li class="category" th:href="@{/documentation/devops}" th:text="#{menu.openfda.titleteam}">About Our Team</li>
				<li><a th:href="@{/documentation/personamap}" style = "padding-left: 40px" th:text="#{menu.openfda.agilists}"> Team Members </a></li>
			</ul>
			<ul class="nav nav-stacked">
				<li class="category" th:text="#{menu.openfda.titleusercentereddesign}">User Centered Design</li>
				<li><a th:href="@{/documentation/personamap}" style = "padding-left: 40px" th:text="#{menu.openfda.personamaps}"> Persona Maps</a></li>
				<li><a th:href="@{/documentation/bht}" style = "padding-left: 40px" th:text="#{menu.openfda.businesshypothesis}"> Business Hypothesis Testing </a></li>
				<li><a th:href="@{/documentation/focus}" style = "padding-left: 40px" th:text="#{menu.openfda.focusgroups}"> Focus Groups </a></li>
			</ul>
			<ul class="nav nav-stacked">
				<li class="category" th:text="#{menu.openfda.titleouragileapproach}">Our Agile Approach</li>
				<li><a th:href="@{/documentation/dsp}" style = "padding-left: 40px" th:text="#{menu.openfda.digitalservicesplaybook}"> Digital Services Playbook </a></li>
				<li><a th:href="@{/documentation/lean}" style = "padding-left: 40px" th:text="#{menu.openfda.leankanban}"> Lean/Kanban</a></li>
				<li><a th:href="@{/documentation/pair}" style = "padding-left: 40px" th:text="#{menu.openfda.pairprogramming}"> Pair Programming</a></li>
			</ul>
			<ul class="nav nav-stacked">
				<li class="category" th:text="#{menu.openfda.titleourdevopsapproach}">Our DevOps Approach</li>
				<li><a th:href="@{/documentation/devops}" style = "padding-left: 40px" th:text="#{menu.openfda.devopsinpractice}"> DevOps
						in Practice</a></li>
			</ul>
			<ul class="nav nav-stacked">
				<li class="category" th:text="#{menu.openfda.oursoftwarearchitecture}">Our Software Architecture</li>
				<li><a th:href="@{/documentation/appdev}" style = "padding-left: 40px" th:text="#{menu.openfda.applicationarchitecture}"> Application
						Architecture </a></li>
				<li><a th:href="@{/documentation/mobile}" style = "padding-left: 40px" th:text="#{menu.openfda.responsivemobile}"> Responsive Mobile </a></li>
				<li><a th:href="@{/documentation/readme}" style = "padding-left: 40px" th:text="#{menu.openfda.readmemd}"> ReadMe.md </a></li>
			</ul>
			<ul class="nav nav-stacked">
				<li class="category" th:text="#{menu.openfda.oursoftwarequality}">Our Software Quality</li>
				<li><a th:href="@{/documentation/sonar1}" style = "padding-left: 40px" th:text="#{menu.openfda.sonartimemachine}"> SonarQube: Time Machine </a></li>
				<li><a th:href="@{/documentation/sonar2}" style = "padding-left: 40px" th:text="#{menu.openfda.sonardashboard}"> SonarQube: Dashboard </a></li>
			</ul>
		</nav>
	</div>
</body>
</html>